*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding:0;
}
body {
  margin: 0;
  /* background-color: #000; */
  /* color: #fff; */
  font-family: Monospace;
  font-size: 12px;
  line-height: 24px;
  overscroll-behavior: none;
}
#canvas3d{
  width: 400px;
  height: 400px;
  width: 100vw;
  height: 100vh;
  /* border: solid 1px green; */
}
